body { /*Nur ein Plazhalter aus spaß dürft ihr weg machen*/
  background-color: #333;
  background-image: 
    linear-gradient(to right, #0f0 1px, transparent 1px),
    linear-gradient(to bottom, #0f0 1px, transparent 1px);
  background-size: 5% 5%;
  color: white;
}

h1 {
    background-color: #333;
    width: fit-content;
    margin: 2% auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  row-gap: 50px;
  column-gap: 100px;
  margin: 1%;
}

.container > div {
  align-items: center;
  justify-content: center;
}

.subsite {
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 15px;
  box-shadow: 0 0.125em 0.625em rgba(0,0,0,0.2);
}