.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    outline: 5px solid red;
}

body {
    outline: 5px solid blue; /* Zeigt dir die Grenze des Body */
}